
{% extends './lms_base.html' %}
{% load static %}

{% block title %}
    <title>Student - Cart{{crs1.course_slug}}</title>
{% endblock title %}

{% block body %}
        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">
q          
            <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content page ">

                    <div class="container-fluid page__container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item active">Cart</li>
                        </ol>
                        <h1 class="h2">Shopping Cart for </h1>
                    <form method="POST" action="../student_cart/{{crs1.course_slug}}">{% csrf_token %}
                        <input type="hidden" name="course_json" id="course_json">
                        <div class="card table-responsive">
                            <table class="table table-nowrap mb-0 table--elevated">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Details</th>
                                        <th style="width: 100px" class="text-center">{{crs1.Course_level}} </th>
                                        <th style="width: 100px" class="text-right">{{crs1.course_fee}} </th>
                                        <th style="width: 10px"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="student_view_course" class="avatar avatar-4by3 avatar-sm mr-3">
                                                    <img src="/media/{{crs1.course_image}} " alt="Learn Vue.js Fundamentals" class="avatar-img rounded">
                                                </a>
                                                <div class="media-body">
                                                    <a href="#" class="text-body"><strong>{{crs1.course_name}}</strong></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="text-muted px-2"><i class="material-icons font-size-16pt">remove</i></a>
                                                <input type="number" class="form-control" style="width: 64px;" value="1" />
                                                <a href="#" class="text-muted px-2"><i class="material-icons font-size-16pt">add</i></a>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <p class="mb-0">&#8377; {{ crs1.course_fee}} INR</p>

                                        </td>
                                        <td class="text-center">
                                            <a href="#" class="text-muted"><i class="material-icons font-size-24pt">close</i></a>
                                        </td>
                                    </tr>

                                    {% comment %} <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="student_view_course" class="avatar avatar-4by3 avatar-sm mr-3">
                                                    <img src="{% static 'student_lms/assets/images/vuejs.png' %}" alt="Angular in Steps" class="avatar-img rounded">
                                                </a>
                                                <div class="media-body">
                                                    <a href="#" class="text-body"><strong>Angular in Steps</strong></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="text-muted px-2"><i class="material-icons font-size-16pt">remove</i></a>
                                                <input type="number" class="form-control" style="width: 64px;" value="2" />
                                                <a href="#" class="text-muted px-2"><i class="material-icons font-size-16pt">add</i></a>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <p class="mb-0">&dollar;20.00 USD</p>

                                            <small class="text-black-50"><strong>Total</strong>: &dollar;40 USD</small>

                                        </td>
                                        <td class="text-center">
                                            <a href="#" class="text-muted"><i class="material-icons font-size-24pt">close</i></a>
                                        </td>
                                    </tr> {% endcomment %}

                                </tbody>
                            </table>

                            <table class="table mb-0">
                                <tfoot>
                                    <tr>
                                        <td class="text-right text-black-70"><strong>Subtotal</strong></td>
                                        <td style="width: 100px;" class="text-right"><strong>&#8377; {{crs1.course_fee}} INR</strong></td>
                                    </tr>
                                    {% comment %} <tr>
                                        <td class="text-right text-black-70"><strong>20% Discount</strong></td>
                                        <td style="width: 100px;" class="text-right"><strong>-&dollar;8 USD</strong></td>
                                    </tr> {% endcomment %}
                                    <tr>
                                        <td class="text-right text-black-70"><strong>Total</strong></td>
                                        <td style="width: 100px;" class="text-right"><strong>&#8377; {{crs1.course_fee}} INR</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="card-footer d-flex align-items-center">
                                <a href="student_browse_courses" class="btn btn-white">Back to Courses</a>
                                <a href="../student_pay/{{crs1.course_slug}}" class="btn btn-success ml-auto">
                                    FREE <i class="material-icons btn__icon--right">credit_card</i>                                </a>

                            </div>
                        </div>
                        
                     
                    
                    </div>
                    <button type ="submit" class="btn btn-primary">"just check it</button>
                    </form>

                </div>


{% endblock body %}
{% block script %}
<script>
$('#course_json').val(JSON.stringify());
{% if thank %}
    alert('thanks for insertion in carts will redirect you otpayment pay this is your course code{{crs.course_code}}');
    localstorage.clear();
{% endif %}

</script>
{% endblock script %}