{% extends './lms_base.html' %}
{% load static %}

{% block title %}
    <title>Student - Forum</title>
{% endblock title %}

{% block body %}

 
        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content page ">



                    <div class="container-fluid page__container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item active">Forum</li>
                        </ol>

                        <div class="row">
                            <div class="col-md-8">

                                <div class="d-flex align-items-center mb-4">
                                    <h1 class="h2 flex mr-3 mb-0">Forum</h1>
                                    <a href="student_forum_ask" class="btn btn-success">Ask a Question</a>
                                </div>

                                <!-- Search -->
                                <div class="flex search-form form-control-rounded search-form--light mb-2" style="min-width: 200px;">
                                    <input type="text" class="form-control" placeholder="Search discussions" id="searchSample02">
                                    <button class="btn pr-3" type="button" role="button"><i class="material-icons">search</i></button>
                                </div>
                                <div class="mb-4 d-flex align-items-center">
                                    <small class="text-black-70 text-uppercase mr-3">Displaying 10 out of 5,234 discussions</small>
                                    <div class="dropdown ml-auto">
                                        <a href="" data-toggle="dropdown" class="dropdown-toggle text-black-70">All Topics</a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="" class="dropdown-item active">All Topics</a>
                                            <a href="" class="dropdown-item">General</a>
                                            <a href="" class="dropdown-item">Lessons</a>
                                            <a href="" class="dropdown-item">Customer Support</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <h4 class="card-title">General</h4>
                                                <p class="card-subtitle">All non-course topics.</p>
                                            </div>
                                            <div class="media-right">
                                                <a href="#" class="btn btn-white btn-sm"><i class="material-icons">add</i></a>
                                            </div>
                                        </div>
                                    </div>



                                    <ul class="list-group list-group-fit">


                                        <li class="list-group-item forum-thread">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <div class="forum-icon-wrapper">
                                                        <a href="student_forum_thread" class="forum-thread-icon">
                                                            <i class="material-icons">description</i>
                                                        </a>
                                                        <a href="student_profile" class="forum-thread-user">
                                                            <img src="{% static 'student_lms/assets/images/people/50/guy-1.jpg' %}" alt="" width="20" class="rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="d-flex align-items-center">
                                                        <a href="student_profile" class="text-body"><strong>Luci Bryant</strong></a>
                                                        <small class="ml-auto text-muted">5 min ago</small>
                                                    </div>
                                                    <a class="text-black-70" href="student_forum_thread">Am I learning the right way?</a>
                                                </div>
                                            </div>
                                        </li>



                                        <li class="list-group-item forum-thread">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <div class="forum-icon-wrapper">
                                                        <a href="student_forum_thread" class="forum-thread-icon">
                                                            <i class="material-icons">description</i>
                                                        </a>
                                                        <a href="student_profile" class="forum-thread-user">
                                                            <img src="{% static 'student_lms/assets/images/people/50/guy-2.jpg' %}" alt="" width="20" class="rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="d-flex align-items-center">
                                                        <a href="student_profile" class="text-body"><strong>Magnus Goldsmith</strong></a>
                                                        <small class="ml-auto text-muted">7 min ago</small>
                                                    </div>
                                                    <a class="text-black-70" href="student_forum_thread">Can someone help me with the basic Setup?</a>
                                                </div>
                                            </div>
                                        </li>



                                        <li class="list-group-item forum-thread">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <div class="forum-icon-wrapper">
                                                        <a href="student_forum_thread" class="forum-thread-icon">
                                                            <i class="material-icons">description</i>
                                                        </a>
                                                        <a href="student_profile" class="forum-thread-user">
                                                            <img src="{% static 'student_lms/assets/images/people/50/woman-1.jpg' %}" alt="" width="20" class="rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="d-flex align-items-center">
                                                        <a href="student_profile" class="text-body"><strong>Katelyn Rankin</strong></a>
                                                        <small class="ml-auto text-muted">12 min ago</small>
                                                    </div>
                                                    <a class="text-black-70" href="student_forum_thread">I think this is the right way?</a>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <h4 class="card-title">Lessons</h4>
                                                <p class="card-subtitle">Course related topics.</p>
                                            </div>
                                            <div class="media-right">
                                                <a href="#" class="btn btn-white btn-sm"><i class="material-icons">add</i></a>
                                            </div>
                                        </div>
                                    </div>



                                    <ul class="list-group list-group-fit">


                                        <li class="list-group-item forum-thread">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <div class="forum-icon-wrapper">
                                                        <a href="student_forum_thread" class="forum-thread-icon">
                                                            <i class="material-icons">description</i>
                                                        </a>
                                                        <a href="student_profile" class="forum-thread-user">
                                                            <img src="{% static 'student_lms/assets/images/256_rsz_nicolas-horn-689011-unsplash.jpg' %}" alt="" width="20" class="rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="d-flex align-items-center">
                                                        <a href="student_profile" class="text-body"><strong>Jenell D. Matney</strong></a>
                                                        <small class="ml-auto text-muted">1 min ago</small>
                                                    </div>
                                                    <a class="text-black-70" href="student_forum_thread">Getting around AngularJS</a>
                                                </div>
                                            </div>
                                        </li>



                                        <li class="list-group-item forum-thread">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <div class="forum-icon-wrapper">
                                                        <a href="student_forum_thread" class="forum-thread-icon">
                                                            <i class="material-icons">description</i>
                                                        </a>
                                                        <a href="student_profile" class="forum-thread-user">
                                                            <img src="{% static 'student_lms/assets/images/256_rsz_sharina-mae-agellon-377466-unsplash.jpg' %}" alt="" width="20" class="rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="d-flex align-items-center">
                                                        <a href="student_profile" class="text-body"><strong>Sherri J. Cardenas</strong></a>
                                                        <small class="ml-auto text-muted">3 min ago</small>
                                                    </div>
                                                    <a class="text-black-70" href="student_forum_thread">Responsive Bootstrap Question</a>
                                                </div>
                                            </div>
                                        </li>



                                        <li class="list-group-item forum-thread">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <div class="forum-icon-wrapper">
                                                        <a href="student_forum_thread" class="forum-thread-icon">
                                                            <i class="material-icons">description</i>
                                                        </a>
                                                        <a href="student_profile" class="forum-thread-user">
                                                            <img src="{% static 'student_lms/assets/images/256_rsz_karl-s-973833-unsplash.jpg' %}" alt="" width="20" class="rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="d-flex align-items-center">
                                                        <a href="student_profile" class="text-body"><strong>Joseph S. Ferland</strong></a>
                                                        <small class="ml-auto text-muted">10 min ago</small>
                                                    </div>
                                                    <a class="text-black-70" href="student_forum_thread">Can someone help me with the basic Setup?</a>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>


                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center pagination-sm ">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true" class="material-icons">chevron_left</span>
                                                <span>Prev</span>
                                            </a>
                                        </li>

                                        <li class="page-item active">
                                            <a class="page-link" href="#" aria-label="1">
                                                <span>1</span>
                                            </a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="2">
                                                <span>2</span>
                                            </a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span>Next</span>
                                                <span aria-hidden="true" class="material-icons">chevron_right</span>
                                            </a>
                                        </li>

                                    </ul>
                                </nav>


                            </div>
                            <div class="col-md-4">

                                <h4>Top Streaks</h4>
                                <p class="text-black-70">Participate on discussions on consecutive days to earn your IQ streak.</p>



                                <div class="mb-4">

                                    <div class="d-flex align-items-center mb-2">
                                        <a href="student_profile" class="avatar avatar-sm mr-3">
                                            <img src="{% static 'student_lms/assets/images/people/50/guy-1.jpg' %}" alt="course" class="avatar-img rounded-circle">
                                        </a>
                                        <a href="student_profile" class="flex mr-2 text-body"><strong>Luci Bryant</strong></a>
                                        <span class="text-black-70 mr-2">1,233</span>
                                        <i class="text-muted material-icons font-size-16pt">opacity</i>
                                    </div>

                                    <div class="d-flex align-items-center mb-2">
                                        <a href="student_profile" class="avatar avatar-sm mr-3">
                                            <img src="{% static 'student_lms/assets/images/people/50/guy-2.jpg' %}" alt="course" class="avatar-img rounded-circle">
                                        </a>
                                        <a href="student_profile" class="flex mr-2 text-body"><strong>Magnus Goldsmith</strong></a>
                                        <span class="text-black-70 mr-2">1,230</span>
                                        <i class="text-muted material-icons font-size-16pt">opacity</i>
                                    </div>

                                    <div class="d-flex align-items-center mb-2">
                                        <a href="student_profile" class="avatar avatar-sm mr-3">
                                            <img src="{% static 'student_lms/assets/images/people/50/woman-1.jpg' %}" alt="course" class="avatar-img rounded-circle">
                                        </a>
                                        <a href="student_profile" class="flex mr-2 text-body"><strong>Katelyn Rankin</strong></a>
                                        <span class="text-black-70 mr-2">1,119</span>
                                        <i class="text-muted material-icons font-size-16pt">opacity</i>
                                    </div>

                                    <div class="d-flex align-items-center mb-2">
                                        <a href="student_profile" class="avatar avatar-sm mr-3">
                                            <img src="{% static 'student_lms/assets/images/256_rsz_nicolas-horn-689011-unsplash.jpg' %}" alt="course" class="avatar-img rounded-circle">
                                        </a>
                                        <a href="student_profile" class="flex mr-2 text-body"><strong>Jenell D. Matney</strong></a>
                                        <span class="text-black-70 mr-2">998</span>
                                        <i class="text-muted material-icons font-size-16pt">opacity</i>
                                    </div>

                                    <div class="d-flex align-items-center mb-2">
                                        <a href="student_profile" class="avatar avatar-sm mr-3">
                                            <img src="{% static 'student_lms/assets/images/256_rsz_sharina-mae-agellon-377466-unsplash.jpg' %}" alt="course" class="avatar-img rounded-circle">
                                        </a>
                                        <a href="student_profile" class="flex mr-2 text-body"><strong>Sherri J. Cardenas</strong></a>
                                        <span class="text-black-70 mr-2">950</span>
                                        <i class="text-muted material-icons font-size-16pt">opacity</i>
                                    </div>

                                    <div class="d-flex align-items-center mb-2">
                                        <a href="student_profile" class="avatar avatar-sm mr-3">
                                            <img src="{% static 'student_lms/assets/images/256_rsz_karl-s-973833-unsplash.jpg' %} " alt="course" class="avatar-img rounded-circle">
                                        </a>
                                        <a href="student_profile" class="flex mr-2 text-body"><strong>Joseph S. Ferland</strong></a>
                                        <span class="text-black-70 mr-2">652</span>
                                        <i class="text-muted material-icons font-size-16pt">opacity</i>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

{% endblock body %}