@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700');
/* All Fonts */
$font-opensans: 'Open Sans', sans-serif;


/* All Color */
$color-white: #fff;
$color-body: #6a6a6a;
$color-black: #454545;
$color-section-bg: #f9f9f9;
$color-blue: #02b3e4;
$color-pink: #f5576c;
$color-yellow: #ffe67c;
$color-red: #fb928b;

$color-video: #002147;

$color-deep-blue: #21293e;

/* Extra color */
$color-meta: #9f9f9f;
$color-dark-black: #000000;
$color-ash: #ddd;
$color-border: #eee;

/**/
$color-green: #3cb878;
$color-red: #fb928b;
$color-yellow: #ffc107;
$color-violet: #6f80ff;
$color-star: #fcb926;
$color-yellow-2: #ffe67c;
$color-pink-2: #fb928b;


/* Social icon color */
$color-facebook: #3b5998;
$color-pinterest: #c92228;
$color-instagram: #fb3958;
$color-twitter: #3cbee3;
$color-google: #e13928;













