{% extends './in_base.html' %}
{% load static %}

{% block title %}
    <title>Instructor Earnings</title>
{% endblock title %}

{% block body %}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content page ">

                    <div class="container-fluid page__container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item active">Earnings</li>
                        </ol>
                        <h1 class="h2">Earnings</h1>
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group float-md-right">
                                    <select class="custom-select">
                                        <option selected>2015</option>
                                        <option value="1">2014</option>
                                        <option value="2">2013</option>
                                        <option value="3">2012</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="chart" style="height: 300px;">
                                    <canvas id="earningsChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Total <span class="text-primary">$19,239</span></h5>
                            </div>
                            <div data-toggle="lists" data-lists-values='[
        "js-lists-values-course", 
        "js-lists-values-revenue",
        "js-lists-values-fees"
      ]' data-lists-sort-by="js-lists-values-revenue" data-lists-sort-desc="true" class="table-responsive">
                                <table class="table table-nowrap m-0">
                                    <thead class="thead-light">
                                        <tr class="text-uppercase small">
                                            <th>
                                                <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-course">Course</a>
                                            </th>
                                            <th class="text-center" style="width:130px">
                                                <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-fees">Fees</a>
                                            </th>
                                            <th class="text-center" style="width:130px">
                                                <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-revenue">Revenue</a>
                                            </th>
                                        </tr>
                                    </thead>



                                    <tbody class="list">

                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <a href="instructor_course_edit" class="avatar avatar-4by3 avatar-sm mr-3">
                                                        <img src="{% static 'student_lms/assets/images/vuejs.png' %} " alt="course" class="avatar-img rounded">
                                                    </a>
                                                    <div class="media-body">
                                                        <a class="text-body js-lists-values-course" href="instructor_course_edit"><strong>Angular Routing In-Depth</strong></a>
                                                        <div class="text-muted small">34 Sales</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center text-black-70">

                                                &dollar;<span class="js-lists-values-fees">120</span> USD

                                            </td>
                                            <td class="text-center text-black-70">
                                                &dollar;<span class="js-lists-values-revenue">8,737</span> USD
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <a href="instructor_course_edit" class="avatar avatar-4by3 avatar-sm mr-3">
                                                        <img src="{% static 'student_lms/assets/images/vuejs.png' %}" alt="course" class="avatar-img rounded">
                                                    </a>
                                                    <div class="media-body">
                                                        <a class="text-body js-lists-values-course" href="instructor_course_edit"><strong>Angular Unit Testing</strong></a>
                                                        <div class="text-muted small">38 Sales</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center text-black-70">

                                                <span class="js-lists-values-fees sr-only">0</span>
                                                <i class="material-icons text-muted-light">remove</i>

                                            </td>
                                            <td class="text-center text-black-70">
                                                &dollar;<span class="js-lists-values-revenue">2,521</span> USD
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <a href="instructor_course_edit" class="avatar avatar-4by3 avatar-sm mr-3">
                                                        <img src="{% static 'student_lms/assets/images/github.png' %}" alt="course" class="avatar-img rounded">
                                                    </a>
                                                    <div class="media-body">
                                                        <a class="text-body js-lists-values-course" href="instructor_course_edit"><strong>Introduction to TypeScript</strong></a>
                                                        <div class="text-muted small">8 Sales</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center text-black-70">

                                                <span class="js-lists-values-fees sr-only">0</span>
                                                <i class="material-icons text-muted-light">remove</i>

                                            </td>
                                            <td class="text-center text-black-70">
                                                &dollar;<span class="js-lists-values-revenue">1,413</span> USD
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <a href="instructor_course_edit" class="avatar avatar-4by3 avatar-sm mr-3">
                                                        <img src="{% static 'student_lms/assets/images/gulp.png' %}" alt="course" class="avatar-img rounded">
                                                    </a>
                                                    <div class="media-body">
                                                        <a class="text-body js-lists-values-course" href="instructor_course_edit"><strong>Learn Angular Fundamentals</strong></a>
                                                        <div class="text-muted small">31 Sales</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center text-black-70">

                                                <span class="js-lists-values-fees sr-only">0</span>
                                                <i class="material-icons text-muted-light">remove</i>

                                            </td>
                                            <td class="text-center text-black-70">
                                                &dollar;<span class="js-lists-values-revenue">1,234</span> USD
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center pagination-sm">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true" class="material-icons">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#" aria-label="1">
                                    <span>1</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="1">
                                    <span>2</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span>Next</span>
                                    <span aria-hidden="true" class="material-icons">chevron_right</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
{% endblock body %}