{% extends './in_base.html' %}
{% load static %}

{% block title %}
    <title>Instructor - Public profile</title>
{% endblock title %}

{% block body %}
        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content page ">

                    <div class="container-fluid page__container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>

                        <div class="text-center">
                            <a href="#"><img src="{% static 'student_lms/assets/images/people/110/guy-8.jpg' %} " alt="" class="rounded-circle"></a>
                            <h1 class="h2 mb-0 mt-1">Adrian Demian</h1>
                            <p class="lead text-muted mb-0">Florida, USA</p>
                            <div class="badge badge-primary ">INSTRUCTOR</div>
                            <hr>
                            <h5 class="text-muted mb-1">Instructor Rating</h5>
                            <div class="rating">
                                <i class="material-icons text-success">star</i>
                                <i class="material-icons text-success">star</i>
                                <i class="material-icons text-success">star</i>
                                <i class="material-icons text-muted-light">star_border</i>
                                <i class="material-icons text-muted-light">star_border</i>
                            </div>
                        </div>
                        <hr>
                        <h4>Courses by Adrian</h4>
                        <div class="card-columns">
                            <div class="card">
                                <div class="card-header">
                                    <div class="media align-items-center">
                                        <div class="media-left">
                                            <a href="/student_lms/student_take_course">
                                                <img src="{% static 'student_lms/assets/images/vuejs.png'%} " alt="Card image cap" width="100" class="rounded">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="card-title mb-0"><a href="/student_lms/student_take_course">Learn VueJs</a></h4>
                                            <div class="rating">
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star_border</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <div class="media align-items-center">
                                        <div class="media-left">
                                            <a href="/student_lms/student_take_course">
                                                <img src="{% static 'student_lms/assets/images/nodejs.png' %}" alt="Card image cap" width="100" class="rounded">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="card-title mb-0"><a href="/student_lms/student_take_course">Npm &amp; Gulp Advanced Workflow</a></h4>
                                            <div class="rating">
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star_border</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <div class="media align-items-center">
                                        <div class="media-left">
                                            <a href="/student_lms/student_take_course">
                                                <img src="{% static 'student_lms/assets/images/github.png' %}" alt="Card image cap" width="100" class="rounded">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="card-title mb-0"><a href="/student_lms/student_take_course">Github Webhooks for Beginners</a></h4>
                                            <div class="rating">
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star_border</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <div class="media align-items-center">
                                        <div class="media-left">
                                            <a href="instructor_take_course">
                                                <img src="{% static 'student_lms/assets/images/gulp.png' %}" alt="Card image cap" width="100" class="rounded">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="card-title mb-0"><a href="instructor_take_course">Gulp &amp; Slush Workflows</a></h4>
                                            <div class="rating">
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star_border</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
{%endblock body %}
