{% extends './in_base.html' %}
{% load static %}

{% block title %}
    <title>Instructor - Manage courses</title>
{% endblock title %}

{% block body %}
        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">
            <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content page ">

                    <div class="container-fluid page__container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/instructor_lms/instructor_course">Home</a></li>
                            <li class="breadcrumb-item active">Courses</li>
                        </ol>

                        <div class="d-flex flex-column flex-sm-row flex-wrap mb-headings align-items-start align-items-sm-center">
                            <div class="flex mb-2 mb-sm-0">
                                <h1 class="h2">Manage Courses</h1>
                            </div>
                            <a href="instructor_course_add" class="btn btn-success">Add course</a>
                        </div>

                        <div class="card card-body border-left-3 border-left-primary navbar-shadow mb-4">
                            <form action="#">
                                <div class="d-flex flex-wrap2 align-items-center mb-headings">
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="btn btn-white"><i class="material-icons mr-sm-2">tune</i> <span class="d-none d-sm-block">Filters</span></a>
                                        <div class="dropdown-menu">
                                            <div class="dropdown-item d-flex flex-column">
                                                <div class="form-group">
                                                    <label for="custom-select" class="form-label">Category</label><br>
                                                    <select id="custom-select" class="form-control custom-select" style="width: 200px;">
                                                        <option selected>All categories</option>
                                                        <option value="1">Vue.js</option>
                                                        <option value="2">Node.js</option>
                                                        <option value="3">GitHub</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="published01" class="form-label">Published</label><br>
                                                    <select id="published01" class="form-control custom-select" style="width: 200px;">
                                                        <option selected>Published courses</option>
                                                        <option value="1">Draft courses</option>
                                                        <option value="3">All courses</option>
                                                    </select>
                                                </div>
                                                <a href="#">Clear filters</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex search-form ml-3 search-form--light">
                                        <input type="text" class="form-control" placeholder="Search courses" id="searchSample02">
                                        <button class="btn" type="button" role="button"><i class="material-icons">search</i></button>
                                    </div>
                                </div>

                                <div class="d-flex flex-column flex-sm-row align-items-sm-center" style="white-space: nowrap;">
                                    <small class="flex text-muted text-uppercase mr-3 mb-2 mb-sm-0">Displaying 4 out of 10 courses</small>
                                    <div class="w-auto ml-sm-auto table d-flex align-items-center mb-0">
                                        <small class="text-muted text-uppercase mr-3 d-none d-sm-block">Sort by</small>
                                        <a href="#" class="sort desc small text-uppercase">Course</a>
                                        <a href="#" class="sort small text-uppercase ml-2">Earnings</a>
                                        <a href="#" class="sort small text-uppercase ml-2">Sales</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% for i in crss %}
                        {% if i == Null  %}
                        <div class="alert alert-light alert-dismissible border-1 border-left-3 border-left-warning" role="alert">
                            <button type="close" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="false">&times;</span>
                            </button>
                            <div class="text-black-70">Ohh no! No courses to display. Add some courses.</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="form-group row">
                                            {% if messages %}
                                            {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <strong>{{message}}</strong> 
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                     </button>
                                            </div>
                                            {% endif %}
                                            {% if message.tags == 'success' %}
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <strong>{{message}}</strong> 
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                     </button>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                        <div class="row">
                            {% for i in  crss %}
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="d-flex flex-column flex-sm-row">
                                            <a href="/instructor_lms/instructor_view_course/{{i.course_slug}}" class="avatar avatar-lg avatar-4by3 mb-3 w-xs-plus-down-100 mr-sm-3">
                                                <img src="{{i.course_image}}" alt="Card image cap" class="avatar-img rounded">
                                            </a>
                                            
                                            <div class="flex" style="min-width: 200px;">
                                                <!-- <h5 class="card-title text-base m-0"><a href="instructor_course_edit"><strong>Learn Vue.js</strong></a></h5> -->
                                                <h4 class="card-title mb-1"><a href="/instructor_lms/instructor_view_course/{{i.course_slug}}">{{i.course_name|slice:"0:20"}}</a></h4>
                                                <p class="text-black-70">{{i.course_desc|striptags|slice:':50'}}</p>
                                                <div class="d-flex align-items-end">
                                                    <div class="d-flex flex flex-column mr-3">
                                                        <div class="d-flex align-items-center py-1 border-bottom">
                                                            <small class="text-black-70 mr-2">&dollar;{{i.course_fee}}mo/</small>
                                                            <small class="text-black-50">34 SALES</small>
                                                        </div>
                                                        <div class="d-flex align-items-center py-1">
                                                            <small class="text-muted mr-2">{{i.course_subcategory}}</small>
                                                            <small class="text-muted">{{i.course_level}}</small>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-4 md-0">
                                        
                                            <div class="text-center">
                                                    <a href="/instructor_lms/instructor_module_add/{{i.course_slug}}" class="btn btn-sm btn-success">Add Module</a>
                                                    </div>    
                                        </div>        
                                        <div class="col-3 md-0">
                                                    <div class="text-center">
                                                    {% if i.is_verified != True %}
                                                        {% if i.is_appiled != True %}
                                                            <a href="/instructor_lms/instructor_course_publish/{{i.course_slug}}" class="btn btn-sm btn-primary">Publish</a>
                                                        {% else %}
                                                            <a href="#" class="btn btn-sm btn-secondary">In Review</a>
                                                        {% endif %}
                                                    {% else %}
                                                        <a href="#" class="btn btn-sm btn-info" >Published</a>
                                                    {% endif %}
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="card__options dropdown right-0 pr-2">
                                        <a href="#" class="dropdown-toggle text-muted" data-caret="false" data-toggle="dropdown">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            {% if i.is_verified != True %}
                                                {% if i.is_appiled != True %}
                                                <a class="dropdown-item" href="/instructor_lms/instructor_course_publish/{{i.course_slug}}">Publish</a>
                                                {% else %}
                                                <a class="dropdown-item" href="#">In Review</a>
                                                {% endif %}
                                            {% else %}
                                                <a class="dropdown-item" href="#">Published</a>
                                            {% endif %}
                                            <a class="dropdown-item" href="/instructor_lms/instructor_course_edit/{{i.course_slug}}">Edit Course</a>
                                            <div class="dropdown-divider"></div> 
                                            <a class="dropdown-item text-danger" href="/instructor_lms/delete_course/{{i.course_slug}}">Delete course</a>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Pagination -->
                        <ul class="pagination justify-content-center pagination-sm">
                            {% if crss.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{crss.previous_page_number}}" aria-label="Previous">
                                    <span aria-hidden="false" class="material-icons">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            {% endif %}
                            {% for num in crss.paginator.page_range %}
                            {% if crss.number == num %}
                                <li class="page-item active">
                                <a class="page-link" href="?page={{num}}" aria-label="1">
                                    <span>{{num}}</span>
                                </a>
                            </li>
                             {% elif num > crss.number|add:'-2' and num < crss.number|add:'2' %}
                             <li class="page-item">
                                <a class="page-link" href="?page={{num}}" aria-label="1">
                                    <span>{{num}}</span>
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                                                       
                            {%if crss.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ crss.next_page_number }}" aria-label="Next">
                                    <span>Next</span>
                                    <span aria-hidden="false" class="material-icons">chevron_right</span>
                                </a>
                            </li>
                            {%endif%}
                        </ul>
                    </div>

                </div>

{% endblock body %}

