{% extends './in_base.html' %}
{% load static %}

{% block title %}
        <title>Instructor - Statement</title>
{% endblock title %}

{% block body %}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content page ">

                    <div class="container-fluid page__container">
                        <ol class="breadcrumb d-print-none">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item active">Statement</li>
                        </ol>
                        <h1 class="h2">Statement</h1>
                        <div class="card">
                            <div class="card-header form-inline">
                                <div class="form-group ml-auto">
                                    <label for="flatpickrSample02" class="form-label mr-3">Date</label>
                                    <input id="flatpickrSample02" type="text" class="form-control" placeholder="Select dates" data-toggle="flatpickr" data-flatpickr-mode="range" data-flatpickr-alt-input="false" value="2018-10-07 to 2018-10-15">
                                </div>
                            </div>

                            <div data-toggle="lists" data-lists-values='[
        "js-lists-values-course", 
        "js-lists-values-document",
        "js-lists-values-amount",
        "js-lists-values-date"
      ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                                <table class="table table-nowrap m-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th colspan="2">
                                                <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-course">Course</a>
                                                <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-document">Document</a>
                                                <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-amount">Amount</a>
                                                <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-date">Date</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">




                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <a href="instructor_course_edit" class="avatar avatar-4by3 avatar-sm mr-3">
                                                        <img src="{% static 'stundet_lms/assets/images/vuejs.png' %} " alt="course" class="avatar-img rounded">
                                                    </a>
                                                    <div class="media-body">
                                                        <a class="text-body js-lists-values-course" href="instructor_course_edit"><strong>Angular Routing In-Depth</strong></a><br>
                                                        <small class="text-muted mr-1">
                                                            Invoice
                                                            <a href="instructor_invoice" style="color: inherit;" class="js-lists-values-document">#8734</a> -
                                                            &dollar;<span class="js-lists-values-amount">89</span> USD
                                                        </small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <small class="text-muted text-uppercase js-lists-values-date">12 Nov 2018</small>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <a href="instructor_course_edit" class="avatar avatar-4by3 avatar-sm mr-3">
                                                        <img src="{% static 'student_lms/assets/images/vuejs.png' %} " alt="course" class="avatar-img rounded">
                                                    </a>
                                                    <div class="media-body">
                                                        <a class="text-body js-lists-values-course" href="instructor_course_edit"><strong>Angular Unit Testing</strong></a><br>
                                                        <small class="text-muted mr-1">
                                                            Invoice
                                                            <a href="instructor_invoice" style="color: inherit;" class="js-lists-values-document">#8735</a> -
                                                            &dollar;<span class="js-lists-values-amount">89</span> USD
                                                        </small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <small class="text-muted text-uppercase js-lists-values-date">13 Nov 2018</small>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <a href="instructor_course_edit" class="avatar avatar-4by3 avatar-sm mr-3">
                                                        <img src="{% static 'student_lms/assets/images/github.png' %} " alt="course" class="avatar-img rounded">
                                                    </a>
                                                    <div class="media-body">
                                                        <a class="text-body js-lists-values-course" href="instructor_course_edit"><strong>Introduction to TypeScript</strong></a><br>
                                                        <small class="text-muted mr-1">
                                                            Invoice
                                                            <a href="instructor_invoice" style="color: inherit;" class="js-lists-values-document">#8736</a> -
                                                            &dollar;<span class="js-lists-values-amount">89</span> USD
                                                        </small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <small class="text-muted text-uppercase js-lists-values-date">14 Nov 2018</small>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="media align-items-center">
                                                    <a href="instructor_course_edit" class="avatar avatar-4by3 avatar-sm mr-3">
                                                        <img src="{% static 'student_lms/assets/images/gulp.png' %} " alt="course" class="avatar-img rounded">
                                                    </a>
                                                    <div class="media-body">
                                                        <a class="text-body js-lists-values-course" href="instructor_course_edit"><strong>Learn Angular Fundamentals</strong></a><br>
                                                        <small class="text-muted mr-1">
                                                            Invoice
                                                            <a href="instructor_invoice" style="color: inherit;" class="js-lists-values-document">#8737</a> -
                                                            &dollar;<span class="js-lists-values-amount">89</span> USD
                                                        </small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <small class="text-muted text-uppercase js-lists-values-date">15 Nov 2018</small>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center pagination-sm">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true" class="material-icons">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#" aria-label="1">
                                    <span>1</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="1">
                                    <span>2</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span>Next</span>
                                    <span aria-hidden="true" class="material-icons">chevron_right</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

{% endblock body %}
