{% extends './lms_base' %}
{% load static %}

{% block title %}
    payment fail
{% endblock title %}

{% block body %}
 <div class="mdk-header-layout__content">

            <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content page ">

                    <div class="container-fluid page__container p-0">
                    </h1>Payment Fail </h1>
                    <a href="student_account_billing_payment_information" class="btn btn-success d-print-none"><h2>Retry</h2></a>
                </div>
            <div>

{% endblock body %}

