{% extends './lms_base.html' %}
{% load static %}

{% block title %}
    <title>{{request.user}} - My Courses</title>
{% endblock title %}

{% block body %}
        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content page ">

                    <div class="container-fluid page__container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/student_lms">Home</a></li>
                            <li class="breadcrumb-item active">My Courses</li>
                        </ol>
                        <div class="media mb-headings align-items-center">
                            <div class="media-body">
                                <h1 class="h2">My Courses</h1>
                            </div>
                            <div class="media-right">
                                <div class="btn-group btn-group-sm">
                                    <a href="#" class="btn btn-white active"><i class="material-icons">list</i></a>
                                    <a href="#" class="btn btn-white"><i class="material-icons">dashboard</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-columns">
                          {% for ord,getcsr,getml,getssn,per,vwdsns,tlssns in allinone %}
                            <div class="card">
                                <div class="card-header">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="student_take_course">
                                                <img src="{{ord.course.course_image}} " alt="Card image cap" width="100" class="rounded">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="card-title m-0"><a href="/student_lms/modules/{{ord.course.course_slug}}">{{ord.course.course_name}}</a></h4>
                                            <small class="text-muted">Lessons: {{vwdsns}} of {{tlssns}}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress rounded-0">
                                    <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: {{per}}%" aria-valuenow="{{vwdsns}}" aria-valuemin="0" aria-valuemax="{{tlssns}}"></div>
                                </div>
                                {% if getcsr == null or getml == null %}
                                <div class="card-footer bg-white">
                                    <a href="/student_lms/modules/{{ord.course.course_slug}}" class="btn btn-primary btn-sm">Start<i class="material-icons btn__icon--right">play_circle_outline</i></a>
                                </div>
                                {% else %}
                                <div class="card-footer bg-white">
                                    <a href="/student_lms/session_view/{{getcsr.course_slug}}/{{getml.slug}}/{{getssn.course_slug}}" class="btn btn-primary btn-sm">Continue <i class="material-icons btn__icon--right">play_circle_outline</i></a>
                                </div>
                                {% endif %}
                            </div>
                          {% endfor %}
                        </div>

                        <!-- Pagination -->
                        <ul class="pagination justify-content-center pagination-sm">
                            {% if ords.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ords.previous_page_number}}" aria-label="Previous">
                                    <span aria-hidden="false" class="material-icons">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            {% endif %}
                            {% for num in ords.paginator.page_range %}
                            {% if ords.number == num %}
                                <li class="page-item active">
                                <a class="page-link" href="?page={{num}}" aria-label="1">
                                    <span>{{num}}</span>
                                </a>
                            </li>
                             {% elif num > ords.number|add:'-3' and num < ords.number|add:'3' %}
                             <li class="page-item">
                                <a class="page-link" href="?page={{num}}" aria-label="1">
                                    <span>{{num}}</span>
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                                                       
                            {%if ords.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ ords.next_page_number }}" aria-label="Next">
                                    <span>Next</span>
                                    <span aria-hidden="false" class="material-icons">chevron_right</span>
                                </a>
                            </li>
                            {%endif%}
                        </ul>
                        {% comment %} <ul class="pagination justify-content-center pagination-sm">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true" class="material-icons">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#" aria-label="1">
                                    <span>1</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="1">
                                    <span>2</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span>Next</span>
                                    <span aria-hidden="true" class="material-icons">chevron_right</span>
                                </a>
                            </li>
                        </ul> {% endcomment %}
                    </div>

                </div>


{% endblock body %}

