{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Course details two</title>{% endblock title %}
{% block body %}

	<div class="page-banner single-course-banner">
	    <div class="container">      			
	        <div class="hvrbox">
	            <img src="{% static 'front/images/video-bg.png' %} " alt="Mountains" class="hvrbox-layer_bottom">
	            <div class="hvrbox-layer_top">
	                <div class="container">
	                    <div class="overlay-text text-center">						
	                        <h3>The Complete JavaScript Course.</h3>
	                        <p>Master JavaScript with the most complete course on the market! </p>
	                        <a href="/lms/enroll" class="btn-small">Enroll now</a>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>	                     
    </div>

	<div class="container">
		<div class="course-info-1x">	
			<div class="row">	
				<div class="col-md-3">
					<div class="course-info-left">
						<div class="media">
						  <div class="media-body">
						  	<h3> <a href="instructor_profile" >Sara Tylor</a></h3>
							<p>Visual Training Instructor</p>
						  </div>
						</div>						
					</div>
				</div>

				<div class="col-md-3">
					<div class="course-info-middle">
						<p>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							&nbsp; 4.9 (66 ratings)
						</p>
						<h4>1,457 Students Enrolled</h4>						
					</div>
				</div>
				<div class="col-md-3">
					<div class="course-info-left">
						<div class="media">
						  <div class="media-body">
						  	<h4>Course Duration</h4>
							<p>3 Weeks</p>
						  </div>
						</div>						
					</div>
				</div>
				<div class="col-md-3">
					<div class="course-info-right">
						<h3><del>$59</del>$169</h3>
						<a href="/lms/checkout" class="btn-small">Buy Now</a>
					</div>
				</div>						

			</div>
		</div>
	</div>

	<div class="about-us-1x about-us-1x-no-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="about-us-left">
						<h2>Why Take This Course?</h2>
						<p>CourseCity is an educational resource for children aged and theteachers. Our curriculum-based classroom software is perfect for your school.</p>
						<p>Education City is an initiative of Qatar Foundation for Education, Science and Community Development. Located on the outskirts of Doha, the capital of Qatar.Take a look at the different ways we can support your school.</p>
					</div>
				</div>
				<div class="col-md-5 offset-md-1">
					<div class="about-us-right">
						<img src="{% static 'front/images/students.png' %}" alt="slide 1">
					</div>
				</div>
			</div>
		</div>	
	</div>

	<div class="course-feature-1x">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="course-feature-left">
						<img src="{% static 'front/images/1.jpg' %} " alt="Mountains">
					</div>
				</div>
				<div class="col-md-5 offset-md-2">
					<div class="course-feature-right">
						<ul>
							<li>
								<div class="media">
									<img src="{% static 'front/images/mobile.png' %}" alt="Mountains">
								  <div class="media-body">
								  	<h3>Access on mobile and TV</h3>
									<p>Learn cutting-edge deep reinforcement learn in from Deep Q-Networks (DQN) to Deep Policy Gradients (DDPG). Apply these concepts.</p>
								  </div>						  
								</div>
							</li>
							<li>
								<div class="media">
									<img src="{% static 'front/images/green-cap.png' %}" alt="Mountains">
								  <div class="media-body">
								  	<h3>Certificate of Completion</h3>
									<p>Learn cutting-edge deep reinforcement learn in from Deep Q-Networks (DQN) to Deep Policy Gradients (DDPG). Apply these concepts.</p>
								  </div>						  
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-5">
					<div class="course-feature-right">
						<ul>
							<li>
								<div class="media">
									<img src="{% static 'front/images/user.png' %}" alt="Mountains">
								  <div class="media-body">
								  	<h3>Engaging Community</h3>
									<p>Learn cutting-edge deep reinforcement learn in from Deep Q-Networks (DQN) to Deep Policy Gradients (DDPG). Apply these concepts.</p>
								  </div>						  
								</div>
							</li>
							<li>
								<div class="media">
									<img src="{% static 'front/images/comment.png' %}" alt="Mountains">
								  <div class="media-body">
								  	<h3>Supportive Project Review</h3>
									<p>Learn cutting-edge deep reinforcement learn in from Deep Q-Networks (DQN) to Deep Policy Gradients (DDPG). Apply these concepts.</p>
								  </div>						  
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-5  offset-md-2">
					<div class="course-feature-left image-right">
						<img src="{% static 'front/images/2.jpg' %}" alt="Mountains">
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="course-learn-1x">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-left">
						<h2>What Will I Learn?</h2>
					</div>	
				</div>
				<div class="col-md-12">
					<div class="course-learn-content">
						<div class="row">
							<div class="col-md-6">
								<div class="course-learn-left">
									<a href="#" class="btn-small">Syllabus</a>
									<h3>Complete JavaScript Course</h3>
									<p>Remember skills can be developed with practice. Design crash course through interactive tutorials. Follow design and read design books. Start using tools like Canva and pair it with SocialPilot. </p>
									<ul>
										<li>
											<div class="single-way">
												<h4>Visual learning tips</h4>
												<p>Graphic designers create visual concepts that inspire,  and transform. Learn how to use industry-leading software to build innovative.</p>	
											</div>
										</li>
										<li>
											<div class="single-way">
												<h4>How improve visual design</h4>
												<p>Remember skills can be developed with practice. Design crash course through interactive tutorials. Follow design and read design books. Start using tools like Canva and pair it with SocialPilot. </p>	
											</div>
										</li>
										<li>
											<div class="single-way">
												<h4>Value of visual design</h4>
												<p>Graphic design is process of visual communication problem solving using one or more of typography, photography and illustration. The field is considered a subset of visual.</p>	
											</div>
										</li>
										<li>
											<div class="single-way">
												<h4>Difference Between Visual Design and Graphic Design</h4>
												<p>User interface (UI) designers are responsible for the “look and feel” of a website, app, or other product. In other words, they're the ones who add colors, pair typefaces, and set layouts. </p>	
											</div>
										</li>
									</ul>
									<a href="syllabus" class="btn-small">Download Syllabus</a>
								</div>
							</div>

							<div class="col-md-5  offset-md-1">
								<div class="course-learn-right">
									<img src="{% static 'front/images/3.jpg' %}" alt="Mountains">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="video-1x video-2x">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="video-content">
						<a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a>
						<h3>Watch Coursecity Campus Video</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="related-course-2x">
		<div class="container">
			<div class="col-md-12">
				<div class="row">
					<div class="title-left">
						<h2>Related Courses</h2>
					</div>
				</div>
			</div>

			<div class="related-course">					
				<div class="single-course">
					<div class="hvrbox">
						<img src="{% static 'front/images/2.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom">
						<div class="hvrbox-layer_top hvrbox-text">
							<div class="hvrbox-text">																	
								<a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a><br>
								<a href="course-single-one.html">Preview Course</a>	
							</div>
						</div>
					</div>
					<div class="single-course-content">
						<a href="course-single-one.html">Visual Basic Essential Training</a>
						<p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
						<h3>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i> (4)
							<span>Enroll: 128</span>
						</h3>
					</div>
				</div>
				<div class="single-course">
					<div class="hvrbox">
						<img src="{% static 'front/images/6.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom">
						<div class="hvrbox-layer_top hvrbox-text">
							<div class="hvrbox-text">																	
								<a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a><br>
								<a href="course-single-one.html">Preview Course</a>	
							</div>
						</div>
					</div>
					<div class="single-course-content">
						<a href="course-single-one.html">Complete Cyber Security Course</a>
						<p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
						<h3>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i> (4)
							<span>Enroll: 128</span>
						</h3>
					</div>
				</div>
				<div class="single-course">
					<div class="hvrbox">
						<img src="{% static 'front/images/3.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom">
						<div class="hvrbox-layer_top hvrbox-text">
							<div class="hvrbox-text">																	
								<a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a><br>
								<a href="course-single-one.html">Preview Course</a>	
							</div>
						</div>
					</div>
					<div class="single-course-content">
						<a href="course-single-one.html">The Complete Developer Web Course</a>
						<p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
						<h3>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i> (4)
							<span>Enroll: 128</span>
						</h3>
					</div>
				</div>
				<div class="single-course">
					<div class="hvrbox">
						<img src="{% static 'front/images/4.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom">
						<div class="hvrbox-layer_top hvrbox-text">
							<div class="hvrbox-text">																	
								<a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a><br>
								<a href="course-single-one.html">Preview Course</a>	
							</div>
						</div>
					</div>
					<div class="single-course-content">
						<a href="course-single-one.html">Creating 3D environment Blender</a>
						<p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
						<h3>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i> (4)
							<span>Enroll: 128</span>
						</h3>
					</div>
				</div>
				<div class="single-course">
					<div class="hvrbox">
						<img src="{% static 'front/images/5.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom">
						<div class="hvrbox-layer_top hvrbox-text">
							<div class="hvrbox-text">																	
								<a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a><br>
								<a href="course-single-one.html">Preview Course</a>	
							</div>
						</div>
					</div>
					<div class="single-course-content">
						<a href="course-single-one.html">Advanced CSS and Sass Flexbox Grid</a>
						<p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
						<h3>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i> (4)
							<span>Enroll: 128</span>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="cta-1x">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cta-content">
						<h3>Ready to Begin?</h3>
						<p>Find subjects you're passionate about by browsing our online course categories. Start <br> learning with top courses Built With Industry Experts.</p>
						<a href="lms/instructor_singup" class="btn-small">Start Teaching</a>
						<a href="lms/student_singup" class="btn-small">Start Learning</a>
					</div>
				</div>					
			</div>
		</div>
	</div>


{% endblock body %}