{% extends 'base.html' %}
{% load static %}

{% block body %}

	<div class="main-banner">           			
        <div class="hvrbox">
            <img src="{% static 'front/images/banner-1.png' %} " alt="Mountains" class="hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
                <div class="container">
                    <div class="overlay-text text-center">						
                        <h3>The Future Begins Here!</h3>
                        <p>Working collaboratively to ensure every student achieves academically,<br> socially, and emotionally.</p>
                        <div class="col-md-8 offset-md-2">
							<div class="input-group">
							  <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Enter Your Search Here">
							  <div class="input-group-append styleSelect">
							      <select id="inputGroupSelect01">
								    <option selected>All Categories</option>
								    <option value="1">One</option>
								    <option value="2">Two</option>
								    <option value="3">Three</option>
								  </select>
							  </div>
							  <div class="input-group-append">
							    <button class="btn btn-search" type="button"><img src="{% static 'front/images/search.png' %}" alt="Image"></button>
							  </div>
							</div>
						</div>

						<div class="slider-feature">
							<ul>
								<li><img src="{% static 'front/images/book.png' %}" alt="Mountains"> 2502 Course</li>
								<li><img src="{% static 'front/images/cap.png' %}" alt="Mountains"> 32052 Students</li>
								<li><img src="{% static 'front/images/man.png' %}" alt="Mountains"> 459 Teachers</li>
							</ul>
						</div>			
                    </div>
            	</div>
        	</div>
        </div>	                     
    </div>

    <div class="course-category-1x">
		<div class="container">
			<div class="row">				
				<div class="col-md-6">
					<div class="category-left left-image">
						<div class="hvrbox">
							<img src="{% static 'front/images/1.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom">
							<div class="hvrbox-layer_top">
								<div class="hvrbox-text">
									<a href="#">Design Introduction</a>
									<h5>800 Course</h5>								
									<a href="#" class="btn-small">View Details</a>
								</div>
							</div>
						</div>				  
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="category-left right-image">
								<div class="hvrbox">
									<img src="{% static 'front/images/5.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom">
									<div class="hvrbox-layer_top hvrbox-text">
										<div class="hvrbox-text">
											<a href="#">Web Developement</a>	
											<h5>700 Course</h5>							
											<a href="#" class="btn-small">View Details</a>
										</div>
									</div>
								</div>				  
							</div>						
						</div>
						<div class="col-md-6">
							<div class="category-left right-image">
								<div class="hvrbox">
									<img src="{% static 'front/images/2.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom">
									<div class="hvrbox-layer_top hvrbox-text">
										<div class="hvrbox-text">
											<a href="#">Digital Marketing</a>	
											<h5>350 Course</h5>							
											<a href="#" class="btn-small">View Details</a>
										</div>
									</div>
								</div>				  
							</div>						
						</div>
						<div class="col-md-6">
							<div class="category-left right-image">
								<div class="hvrbox">
									<img src="{% static 'front/images/3.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom">
									<div class="hvrbox-layer_top hvrbox-text">
										<div class="hvrbox-text">
											<a href="#">Busines</a>	
											<h5>250 Course</h5>							
											<a href="#" class="btn-small">View Details</a>
										</div>
									</div>
								</div>				  
							</div>						
						</div>
						<div class="col-md-6">
							<div class="category-left right-image">
								<div class="hvrbox">
									<img src="{% static 'front/images/4.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom">
									<div class="hvrbox-layer_top hvrbox-text">
										<div class="hvrbox-text">
											<a href="#">Photography</a>
											<h5>180 Course</h5>							
											<a href="#" class="btn-small">View Details</a>
										</div>
									</div>
								</div>				  
							</div>						
						</div>
					</div>
				</div>
				<div class="category-feature">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4">
								<div class="single-feature">
									<img src="{% static 'front/images/man-2.png' %}" alt="slide 1">
									<h4>Expert Instructors</h4>
									<p>We rigorously screen and train our instructors ensure that they meet </p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-feature">
									<img src="{% static 'front/images/clock.png' %}" alt="slide 1">
									<h4>Lifetime Access</h4>
									<p>We rigorously screen and train our instructors ensure that they meet </p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-feature">
									<img src="{% static 'front/images/pc.png' %}" alt="slide 1">
									<h4>Learn Anywhere</h4>
									<p>We rigorously screen and train our instructors ensure that they meet </p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="single-feature">
									<a href="#" class="btn-small">Get Started For Free</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="course-1x">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-middle">
						<h2>Coursecity Top Courses</h2>
					</div>
				</div>

				<div class="col-md-12">
					
					<div id="filters" class="course-menu">
					  <button class="filter active"  data-filter="all">All Courses</button>
					
					  {% comment %} {% for crs in allcourse%} {% endcomment %}
					  {% comment %} {%for i.course_category in crs%} {% endcomment %}
					  <button class="filter" data-rel="AI" data-filter=".AI">Artificial Intelligence</button>
					  <button class="filter" data-rel="Programming" data-filter=".Programming">Programming</button>
					  <button class="filter" data-rel="Designing" data-filter=".Designing">Designing</button>
					  <button class="filter" data-rel="Business" data-filter=".Business">Business</button>
					  {% comment %} {% endfor %} {% endcomment %}
					  {% comment %} {%endfor%} {% endcomment %}
					 
					  </div>
				</div>

				<div class="col-md-12">	
					<div class="all-course">
						<div class="row">
							
					{% for crs,range,nSlide in allcourse %} 
						  {% for i in crs%}
						  <div class="col-md-3 tile {{i.course_category}}">
							<div class="single-course">
								<div class="hvrbox">
									<img src="/media/{{i.course_image}}" alt="slide why" class="hvrbox-layer_bottom">
									<div class="hvrbox-layer_top hvrbox-text">
										<div class="hvrbox-text">																	
											<a href="i.course_video" class="btn-circle video"><i class="fas fa-play"></i></a>
											<a href="course-single-one.html">Preview Course</a>	
										</div>
									</div>
								</div>
								<div class="single-course-content">
									<a href="course_details_1/{{i.code}}">{{i.course_name}}</a>
									<p>Nir Eyal <span><del>${{i.course_price}}</del> <b>${{i.course_price}}</b></span></p>
									<h3>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i> (4)
										<span>Enroll: 128</span>
									</h3>
								</div>
							</div>
						  </div>
							{% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
								<div class="col-md-3 tile web"></div>
							{% endif %}
						  {% endfor %}
						  {% endfor %}
						  
						  
							 <div class="col-md-12 text-center">
								<a href="course-list.html" class="btn-small"> View more </a>
						</div>	</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="achive-goals-1x">
		<div class="container">			
			<div class="col-md-12">
				<div class="title-middle">
					<h2>Achieve Your Goals</h2>
					<p>Find subjects you're passionate about by browsing our online course categories. Start <br> learning with top courses Built With Industry Experts</p>
				</div>
			</div>

			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4">
						<div class="single-goals">
							<img src="{% static 'front/images/icon-1.png' %}" alt="slide 1">
							<h4>Develope Skill</h4>
							<p>These goals will assist them in achieving their ultimate career position </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-goals">
							<img src="{% static 'front/images/icon-2.png' %}" alt="slide 1">
							<h4>Learning Community</h4>
							<p>These goals will assist them in achieving their ultimate career position </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-goals">
							<img src="{% static 'front/images/icon-4.png' %}" alt="slide 1">
							<h4>Real Life Project</h4>
							<p>These goals will assist them in achieving their ultimate career position </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="learning-path-1x">
		<div class="container">
			<div class="col-md-12">
				<div class="title-middle">
					<h2>Get Ahead With Learning Paths</h2>
				</div>
			</div>

			<div class="col-md-12">
				<div class="learning-path">

					<div class="single-learning-path">
						<div class="hvrbox">
							<a href="#"><img src="{% static 'front/images/1.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom"></a>
							<div class="hvrbox-layer_top hvrbox-text blue">
								<div class="hvrbox-text">
									<a href="#">Become a Designer</a>							
								</div>
							</div>
						</div>
					</div>
					<div class="single-learning-path">
						<div class="hvrbox">
							<a href="#"><img src="{% static 'front/images/2.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom"></a>
							<div class="hvrbox-layer_top hvrbox-text green">
								<div class="hvrbox-text">
									<a href="#">Become a Developer</a>							
								</div>
							</div>
						</div>
					</div>
					<div class="single-learning-path">
						<div class="hvrbox">
							<a href="#"><img src="{% static 'front/images/3.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom"></a>
							<div class="hvrbox-layer_top hvrbox-text red">
								<div class="hvrbox-text">
									<a href="#">Become a Manager</a>							
								</div>
							</div>
						</div>
					</div>
					<div class="single-learning-path">
						<div class="hvrbox">
							<a href="#"><img src="{% static 'front/images/4.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom"></a>
							<div class="hvrbox-layer_top hvrbox-text yellow">
								<div class="hvrbox-text">
									<a href="#">Become a Marketer</a>							
								</div>
							</div>
						</div>
					</div>
					<div class="single-learning-path">
						<div class="hvrbox">
							<a href="#"><img src="{% static 'front/images/5.jpg' %}" alt="slide 1" class="hvrbox-layer_bottom"></a>
							<div class="hvrbox-layer_top hvrbox-text">
								<div class="hvrbox-text">
									<a href="#">Design Introduction</a>							
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>

	<div class="tesimonial-1x">
		<div class="container">			
			<div class="col-md-10 offset-md-1">
				<div class="testimonial">
					<div class="single-testimonial text-center">
						<img src="{% static 'front/images/testimonial-1.jpg' %}" alt="slide 1">
						<p><i class="fas fa-quote-left"></i> Before Coursecity, I was working two minimum wage jobs. Now, I have a new job, a new mindset,<br> and new life!"I learned most of my programming skills and database management skills <br>  through self-study and the material available on Coursecity.</p>
						<h3>Stephanie Magion</h3>
						<h4>Manager at Doltef</h4>
					</div>

					<div class="single-testimonial text-center">
						<img src="{% static 'front/images/testimonial-2.jpg' %}" alt="slide 1">
						<p><i class="fas fa-quote-left"></i> Before Coursecity, I was working two minimum wage jobs. Now, I have a new job, a new mindset,<br> and new life!"I learned most of my programming skills and database management skills <br>  through self-study and the material available on Coursecity.</p>
						<h3>Jhon Alex</h3>
						<h4>Chairman at Doltef</h4>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="client-1x">
		<div class="container">			
			<div class="col-md-12">
				<div class="title-middle">
					<h2>Train Your Company Member</h2>
					<p>Find subjects you're passionate about by browsing our online course categories. Start <br> learning with top courses Built With Industry Experts</p>
				</div>
			</div>

			<div class="col-md-8 offset-md-2">
				<div class="row">
					<div class="col-md-3">
						<div class="single-client">
							<a href="#"><img src="{% static 'front/images/client/1.png' %}" alt="slide 1"></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="single-client">
							<a href="#"><img src="{% static 'front/images/client/2.png' %}" alt="slide 1"></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="single-client">
							<a href="#"><img src="{% static 'front/images/client/5.png' %}" alt="slide 1"></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="single-client">
							<a href="#"><img src="{% static 'front/images/client/4.png' %}" alt="slide 1"></a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-client">
							<a href="#"><img src="{% static 'front/images/client/4.png' %}" alt="slide 1"></a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-client">
							<a href="#"><img src="{% static 'front/images/client/1.png' %}" alt="slide 1"></a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-client">
							<a href="#"><img src="{% static 'front/images/client/2.png' %}" alt="slide 1"></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="cta-1x">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cta-content">
						<h3>Ready to Begin?</h3>
						<p>Find subjects you're passionate about by browsing our online course categories. Start <br> learning with top courses Built With Industry Experts.</p>
						<a href="#" class="btn-small">Start Teaching</a>
						<a href="#" class="btn-small">Start Learning</a>
					</div>
				</div>					
			</div>
		</div>
	</div>
{% endblock body %}
